<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://kit.fontawesome.com/97045d8aa4.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <main>
        <%-include("../partials/header.ejs") %>

            <div class="conteiner-productos">
                <section>
                    <div class="producto">
                        <img src="/images/california-02.png" alt="california">
                        <div class="nombre">roll california</div>
                        <div class="precio">$5550</div> 
                        <a href="#" class="boton-comprar">Ver Detalle</a>
                    </div>
                </section>
                <section>
                    <div class="producto">
                        <img src="/images/newyorkphila.jpg" alt="nyp">
                        <div class="nombre">Roll NewYorkP</div>
                        <div class="precio">$5550</div>
                        <a href="#" class="boton-comprar">Ver Detalle</a>
                    </div>
            </section>
            <section>
                <div class="producto">
                    <img src="/images/newyork.png" alt="newyork">
                    <div class="nombre">Roll NewYork</div>
                    <div class="precio">$5550</div>
                    <a href="#" class="boton-comprar">Ver Detalle</a>
                </div>
            </section>
            <section>
                <div class="producto">
                    <img src="/images/philadephia.png" alt="philadelpia">
                    <div class="nombre">Roll Philadelpia</div>
                    <div class="precio">$5550</div>
                        <a href="#" class="boton-comprar">Ver Detalle</a>
                </div>
            </section>
            <section>
                <div class="producto">
                    <img src="/images/tamago.jpg" alt="tamago">
                    <div class="nombre">Roll Tamago</div>
                    <div class="precio">$5550</div>
                        <a href="#" class="boton-comprar">Ver Detalle</a>
                </div>
            </section>
            <section>
                <div class="producto">
                    <img src="/images/makisphila.png" alt="Maki">
                    <div class="nombre">Maki Salmon</div>
                    <div class="precio">$5550</div>
                        <a href="#" class="boton-comprar">Ver Detalle</a>
                </div>
            </section>
            <section>
                <div class="producto">
                    <img src="/images/teki.png" alt="teki">
                    <div class="nombre">Roll Teki</div>
                    <div class="precio">$5550</div>
                        <a href="#" class="boton-comprar">Ver Detalle</a>
                </div>
            </section>
            <section>
                <div class="producto">
                    <img src="/images/futurama.png" alt="futurama">
                    <div class="nombre">Roll Futurama</div>
                    <div class="precio">$5550</div>
                        <a href="#" class="boton-comprar">Ver Detalle</a>
                </div>
            </section>
            <section>
                <div class="producto">
                    <img src="/images/Nigirisalmon.png" alt="niguiri.s">
                    <div class="nombre">Niguiri Salmon</div>
                    <div class="precio">$5550</div>
                        <a href="#" class="boton-comprar">Ver Detalle</a>
                </div>
            </section>
            <section>
                <div class="producto">
                    <img src="/images/nigiripulpo.png" alt="niguiri.pulpo">
                    <div class="nombre">Niguiris Pulpo</div>
                    <div class="precio">$5550</div>
                        <a href="#" class="boton-comprar">Ver Detalle</a>
                </div>
            </section>
            <section>
                <div class="producto">
                    <img src="/images/nigirilangostino.png" alt="niguiri.Lang">
                    <div class="nombre">Niguiri Langostino</div>
                    <div class="precio">$5550</div>
                    <a href="#" class="boton-comprar">Ver Detalle</a>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <div class="conteiner-footer">

            <div class="section-1">
                <div class="logo">Sakumu</div>
                <ul>
                    <li><a href="#pediOnline">pedi online</a></li>
                    <li><a href="#reservas">Reservas</a></li>
                    <li><a href="#locales">Locales</a></li>
                    <li><a href="#franquicias">Franquicias</a></li>
                </ul>
            </div>
            <div class="section-2">
                <p>visitanos en nuestras redes</p>
                <div class="social-icons">
                    <a href="https://facebook.com" target="_blank">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="https://twitter.com" target="_blank">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a href="http//instagram.com" target="_blank">
                        <i class="fa-brands fa-instagram"></i>

                    </a>
                </div>
            </div>
            <div class="section-3">
                <p>Queres unirte a nuestro staff</p>
                <p>info@sakumu.com.ar</p>
                <a href="malito:tu_correo_electronico@example.com"><i class="fa-regular fa-envelope"
                        id="correo"></i>Email</a>
            </div>
            <div class="derechos">
                <p>&copy; 2020-2025 todos los derechos reservados.terminos y condiciones.
                    politica de privacidad
                </p>
            </div>
        </div>
    </footer>
</body>

</html>