
<h2>Editar Perfil</h2>
<form method="POST" action="/adm/editarPerfil">
    <div>
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre">
    </div>
    <div>
        <label for="apellido">apellido:</label>
        <input type="text" name="apellido">
    </div>
    <div>
        <label for="email">email</label>
        <input type="email" name="email">
    </div>
   <div >
                        <label for="file">cambia tu foto:</label>
                        <input type="file" name="image" id="avatar1" accept="image/*">
                        <img id="avatar1" src="/images/users/predeterminado.jpg" alt="Avatar Preview" >
                        <div id="avatarPreview" class="avatar-preview">

                        </div>

</form>
    <script src="/javascripts/imagenCambio.js"></script>