<footer>
<div class="conteiner-footer">
    <div class="conteiner-secciones">
    <div class="section-1">
        <a href="/" id="sakumu2">Sakumu</a>
        <ul>
            <li><a href="#pediOnline">pedi online</a></li>
            <li><a href="#reservas">Reservas</a></li>
            <li><a href="#locales">Locales</a></li>
            <li><a href="#franquicias">Franquicias</a></li>
        </ul>
    </div>
        <div class="section-2">
          <p>visitanos en nuestras redes</p>
          <div class="social-icons">
            <a href="https://facebook.com" target="_blank">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://twitter.com" target="_blank">
                <i class="fa-brands fa-twitter"></i>
            </a>
            <a href="http//instagram.com" target="_blank">
                <i class="fa-brands fa-instagram"></i>

            </a>
           </div>
        </div>
        <div class="section-3">
            <p>Queres unirte a nuestro staff</p>
            <p>info@sakumu.com.ar</p>
            <a href="malito:tu_correo_electronico@example.com"><i class="fa-regular fa-envelope" id="correo"></i>Email</a>
        </div>
    </div>
        <div class="derechos">
            <p>&copy; 2020-2025 todos los derechos reservados.terminos y condiciones.
                politica de privacidad
            </p>
        </div>
    </div>
</footer>
</body>
</html>