<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset='utf-8'> 
    <link rel='stylesheet' href='/stylesheets/styleAdm.css' />
    <script src="https://kit.fontawesome.com/97045d8aa4.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sakumu</title>
</head>
<body>
    <header>
    <div class="menu-conteiner">
        <div class="nav-bar">
            <nav>
                <div class="logo">Sakumu</div>
                <ul>
                    <li><a href="/">home</a></li>
                    <li><a href="#">Administrador</a></li>
                    <li><a href="/productos/productCrear" class="productos-modificar">Modificar Producto</a></li>
                    <li><a href="/productos/productosAdmin" class="icons"></i>Administrar Producto</a></li>
                    <li><a href="/users/logout" class="icons"> Cerrar Sesion</a></li>
    
                </ul>
            </nav>
        </div>
    </div>
    </header>