
<body>
<header>
<div class="menu-conteiner">
    <div class="nav-bar">
        <nav>
            <div class="logo">Sakumu</div>
            <ul>
                <li><a href="<%- index %>">home</a></li>
                <li><a href="../productos/">Productos</a></li>
                <li><a href="#">Sobre Nosotros</a></li>
                <a href="<%-login %>" class="icons"><i class="fa-solid fa-user"></i>iniciar sesion</a>
                <a href="<%-register %>" class="icons"> <i class="fa-solid fa-right-to-bracket"></i>Registrarse</a>
                <a href="#" class="icons"> <i class="fa-solid fa-cart-shopping"></i></a>

            </ul>
        </nav>
    </div>
</div>
</header>
