<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset='utf-8'>
    <script src="https://kit.fontawesome.com/97045d8aa4.js" crossorigin="anonymous"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sakumu</title>
</head>

<body>
    <header>
        <div class="nav-bar">
            <nav>
                <a href="/" id="sakumu"><img src="/images/logotipo.jpg" class="logo">Sakumu</a>

                <ul>
                   <li> <a href="/productos">Producto</a></li>
                    <li><a href="/users/profile">Editar Perfil</a></li>
                    <li><a href="/adm/products">Lista Productos</a></li>
                    <li><a href="/adm/users"></i>Lista Usuarios</a></li>
                    <li><a href="/productos/productCrear">Crear Productos</a></li>
                    <li><a href="/users/logout"> Cerrar Sesion</a></li>

                </ul>
            </nav>
        </div>
    </header>