<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset='utf-8'> 
    <script src="https://kit.fontawesome.com/97045d8aa4.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/styleAdm.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sakumu</title>
</head>
<body>
    <header>
    <div class="menu-conteiner">
        <div class="nav-bar">
            <nav>
                <div class="logo" ><a href="/">Sakumu</a></div>
                <ul>
                    <li>administrador</li>
                    <li><a href="/users/profile">Editar Perfil</a></li>
                    <li><a href="/adm/products" class="icons">Lista Productos</a></li>
                    <li><a href="/adm/users" class="icons"></i>Lista Usuarios</a></li>
                    <li><a href="/productos/productCrear" class="icons">Crear Productos</a></li>
                    <li><a href="/users/logout" class="icons"> Cerrar Sesion</a></li>
    
                </ul>
            </nav>
        </div>
    </div>
    </header>