<body>
    <header>
        <% if(locals.user && locals.user.rol == 1){ %>
            <%-include("../partials/headerAdm.ejs") %>
        <% }else{%>
        <div class="nav-bar">
            <nav>
                <a href="/" id="sakumu"><img src="/images/logoNuevo.png" class="logo">
                    Sakumu</a>
                <ul>
                    <li><a href="/productos">Productos</a></li>
                    <% if (!user) { %>
                        <li><a href="/users/login" class="icons"><i class="fa-solid fa-user"></i>iniciar sesion</a></li>
                        <li><a href="/users/register" class="icons"> <i
                                    class="fa-solid fa-right-to-bracket"></i>Registrarse</a></li>
                        <% }%>
                            <% if (user) { %>

                                <li><a href="/products/carrito" class="icons"> <i
                                            class="fa-solid fa-shopping-cart"></i>Carrito</a></li>
                                <li>
                                    <a href="/users/profile" class="icons">
                                        <i class="fa-solid fa-user"></i>
                                        Editar perfil
                                    </a>
                                </li>
                                <li><a href="/users/logout" class="icons"> cerrar sesion</a></li>
                                <% }%>

                </ul>
            </nav>
        </div>
        <% }%>
    </header>