<div class="banner">
</div>
<main>
    <div class="conteiner-home">
        <h2 class="titulo-home">La Historia de Sakumu</h2>
        <div class="caja1">
            <div class="texto1">
                <h3>Inicio del Sueño</h3>
                <p>En el año 2020, en el vibrante corazón de Buenos Aires, nació Sakumu Sushi. Fundada por Akira Tanaka,
                    un joven chef apasionado por la cocina japonesa, Sakumu comenzó como un pequeño local en un rincón
                    tranquilo del barrio de Palermo. Akira, después de años de perfeccionar su arte culinario en Japón,
                    decidió llevar su amor por el sushi a esta ciudad llena de vida y cultura.

                    Con una visión clara y una dedicación inquebrantable, Akira creó un menú que combinaba tradiciones
                    ancestrales con toques modernos. Cada plato en Sakumu era una obra de arte, desde los nigiris
                    frescos hasta los rollos creativos. La filosofía de Sakumu se centraba en la calidad, la frescura y
                    el respeto por los ingredientes.

                    A pesar de los desafíos iniciales y las restricciones impuestas por la pandemia, Sakumu se ganó
                    rápidamente el corazón de los porteños. Con su compromiso con la excelencia y el servicio al
                    cliente, el pequeño local comenzó a atraer a una clientela fiel que apreciaba la autenticidad y la
                    innovación de sus platos.

                    En los años siguientes, Sakumu creció y abrió nuevas sucursales en diferentes barrios de Buenos
                    Aires, cada una manteniendo la esencia y la calidad que Akira había establecido desde el principio.
                    Con un equipo de chefs talentosos y un ambiente acogedor, Sakumu Sushi se convirtió en un referente
                    en la ciudad, conocido no solo por su deliciosa comida, sino también por su dedicación a la
                    experiencia del cliente.

                    Hoy, Sakumu Sushi sigue siendo un testimonio de cómo la pasión, la perseverancia y el amor por la
                    cocina pueden transformar un sueño en una realidad exitosa.</p>
            </div>
            <div class="imagen1">
                <img src="/images/inicio.png" alt="home-imagen"></img>
            </div>
        </div>

        <h2 class="titulo-home2"> Sakumu Sushi: Compromiso con la Calidad</h2>
        <div class="caja2">
            <div class="texto2">
                <p> Desde su apertura en Buenos Aires en 2020, Sakumu Sushi asegura la calidad de sus productos
                    mediante:

                   <span> Selección de Ingredientes Frescos</span>: Solo se eligen pescados y mariscos de la mejor calidad.

                   <span>Relaciones con Proveedores</span>: Conexiones cercanas con proveedores confiables locales y extranjeros.

                   <span>  Normas de Higiene</span>: Protocolos estrictos desde la recepción hasta la preparación de los alimentos.

                   <span> Formación Continua</span>: Capacitación constante de los sushi-man en técnicas culinarias y seguridad
                    alimentaria.

                    <span>Retroalimentación</span>: Uso de opiniones de clientes para mejorar continuamente.

                    Gracias a estos esfuerzos, Sakumu Sushi ofrece una experiencia culinaria excepcional y auténtica en
                    cada plato.</p>
            </div>
            <div class="imagen2">
                <img src="/images/trabajadores.png.jpg" alt="imagen-trabajadores">

            </div>
        </div>
    </div>

</main>