
<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset='utf-8'>
    <script src="https://kit.fontawesome.com/97045d8aa4.js" crossorigin="anonymous"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sakumu</title>
</head>


<main class="main-home">
    <div class="conteiner-home">
            <div class="banner">
                <img src="/images/fondoNuevo1.png" alt="imagen-banner">
            </div>

            <section class="texto2">
            <h2 class="titulo-home2"> ¿Quienes somos? </h2>
            <div >
                <p class="eslogan1"> En Sakumu, fusionamos tradicion y creatividad para ofrecerte una experiencia unica
                    en sushi.Nos apasiona cada detalle:desde la sellecion de los ingregientes mas frescos 
                    hasta la presentacion que transforma cada plata en una obra de arte.
                    Nuestro objetivo es mas que solo servir comida; queremos llevarte en un viaje
                    gastronomico que despierte tus sentidos y que te haga descubrir nuevos sabores.
                    <br>

                   <span class="eslogan"> Veni y dejate sorprende.¡tu prooxima experiencia inolvidable te espera en Sakumu!</span>
                </p>
            </div>
            </section>
            <div class="banner-inferior">
               <h2> Nuestras Sucursales</h2>
               <div class="sucursales">
               <p class="direccion"><i class="fa-solid fa-location-dot"></i>Av. Corrientes 1660 – Barrio de San Nicolás</p>
               <p class="direccion"><i class="fa-solid fa-location-dot"></i>Calle Defensa 800 – Barrio de San Telmo</p>
               <p class="direccion"><i class="fa-solid fa-location-dot"></i>Av. Santa Fe 3253 – Barrio de Palermo </p>
               <p class="direccion"><i class="fa-solid fa-location-dot"></i>Av. Rivadavia 6200 – Barrio de Caballito</p>
               <p class="direccion"><i class="fa-solid fa-location-dot"></i>Yañez Pinzon 2612 – Barrio de Moreno</p>
               </div>
            </div>
        </div>
    </div>

</main>