

.detalleProducto{
    background-color: darkslategrey;
    display: flex;
    justify-content: center;
}

.conteiner-productoD {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .conteiner-productoD section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    margin-top: 62px;
  
  }
  
  .productoD {
    background-color: #eb1010;
    border: 4px solid black;
    border-radius: 18px;
    padding: 30px;
    max-width: 423px;
    margin: 20px 0px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 75px;
}
  
  


.productoD ul {
    display: flex;
    font-size: 15px;
    text-align: center;
    flex-direction: row;;
}

.productoD ul li {
    list-style: none;
    padding: 0px;
    text-align: left;
}

.productoD img {
  width: 410px;
  height: 280px;
  object-fit: cover;
  border-radius: 18px 18px 18px 18px;
  padding-left: 10px;
}

.productoD .nombre-producto {
    display: flex;
    gap: 10px;
}  
  .productoD .nombre {
    font-size: 1.5em;
    margin: 10px 0;
  }
  
  .productoD .descripcion {
    font-size: 18px;
    color: #241717;
  }
  .productoD .descripcion-producto {
    display: flex;
    gap: 10px;
  }
  
  .productoD .precio {
    font-size: 1.5em;
    color: #0f0a05;
    margin: 10px 0;
  }
  .productoD .precio-producto {
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
  }
  .productoD .precio-numero {
    font-size: 35px;
    margin: 0px;
}
 
.productoD .cantidad-piezas{
  display: flex;
  gap:10px;
}

.productoD .piezas {
  font-size: 18px;
}

  .productoD .conteiner-botonesDetalle {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
  }
  
  .productoD .botones-detalle {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e67e22;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .productoD .botones-detalle:hover {
    background-color: #d35400;
  }
  

ul li #fa-productos {
  font-size: 30px;
  padding-left: 20px;
  color: rgb(0 148 255);
}
  