.container-formulario {
    background-color: white;
    padding: 38px 50px 38px 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 27px 292px 54px 292px;  
    box-sizing: border-box;
  }
  
  .caja1-form
  {
    background-image: url('../images/inicio.png');
    background-size: cover;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .container-formulario form{
    display: flex;
    flex-direction: column;
  }
  input[type=text],
  input[type=password],
  input[type=email] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    align-items: center;
    border-radius: 5px;
  }
  
  button {
    background-color:  rgb(205, 92, 92);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
  }
  
  button:hover
   {
    opacity: 0.8;
  }


  .msg-error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }


  .container-formulario1 {
    background-color: white;
    padding: 25px 30px 35px 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 80px;  
    box-sizing: border-box;
  }
  
  .caja-form
  {
       display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .caja-Descripcion
  {
       display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .formulario-descripcion{
    border: 3px groove black;
    padding: 25px 30px 35px 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px #000000;
    margin: 15px;
    box-sizing: border-box
  }
  
  .container-formulario1 form{
    display: flex;
    flex-direction: column;
  }


  .button-opinion {
    background-color: rgb(31, 30, 30);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #000000
}

