<%- include("../partials/head.ejs") %>
  

<%-include("../partials/headerAdm.ejs") %>

    <h1 class="titulo">Bienvenido Administrador</h1>
    <div class="container">
        <div class="perfil">
            <h2>Perfil</h2>